body {
    font-family: Arial;
    background-color: #f0f0f0;
    color: #333;
    padding: 20px;
}
h1 {
    color: #9c97a8;
}
ul {
    background-color: #e7e6e6;
    padding: 10px;
}
table {
    border-collapse: collapse;
    width: 50%;
}
table, th, td {
    border: 1px solid black;
    padding: 8px;
}
img {
    border: 2px solid gray;
}
